# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment
.env

# ML datasets
ml-model/dataset/*.csv

# Trained ML models
ml-model/models/*.pkl
ml-model/models/*.joblib

# Node
node_modules/
dist/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db